<div class="loginColumns animated fadeInDown">
    <div class="row">
        <div class="col-md-6">
            <h2 class="font-bold">늘품에 오신것을 환영합니다!</h2>
            <p>
                늘품 회원가입의 혜택!!
            </p>
            <p>
                1. 쿠폰 대신 적립금을 계속해서 쌓아 두실 수 있습니다. 
            </p>
            <p>
                2. 홈페이지에 로그인하시면 얼마나 적립되었는지 실시간으로 확인할 수 있습니다~!!
            </p>
            <p>
                3. 자주 늘품을 이용하셨던 분들, 앞으로 자주 이용하실 분들에게 더 좋은 서비스와 혜택을 제공해드릴 예정입니다. 저희의 마음을 전달하기 위해선 회원가입이 꼭 필요해요! 
            </p>
        </div>
        <div class="col-md-6">
            <div class="ibox-content" style="padding-bottom: 40px;">
                <h2 style="text-align: center;">Log-in</h2>
                <form class="m-t" role="form" id="login-form" action="/users/login_process" method="POST">
                    <div class="form-group">
                        <label for="user_email">E-mail</label>
                        <input type="email" class="form-control email" placeholder="이메일 주소" required="" name="user_email"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control password" placeholder="비밀번호" required="" name="password"/>
                    </div>
                    <button type="button" class="btn btn-primary block full-width m-b btn-login">로그인</button>
                    <a class="btn btn-warning btn-block" href="/pages/register">회원가입하기</a>
                    <a class="btn btn-sm btn-white btn-block" href="/landing/index">취소</a>
                </form>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            Copyright Neulpum
        </div>
        <div class="col-md-6 text-right">
            <small>© 2016</small>
        </div>
    </div>
</div>


<% content_for :javascript do %>

<script type="text/javascript">  

$(function(){
    $('.btn-login').click(function(){
        $.ajax({
            data: {
                user_email: $('.email').val(),
                passward: $('.password').val()
            },
            url: "/users/find_user",
            type: "POST",
            success: function(data){
                if (data == null) {
                    swal("로그인 오류", "입력한 이메일, 패스워드가 올바르지 않습니다", "warning");
                }
                else {
                    $('#login-form').submit();
                }
            }
        });
    });
});

</script>

<% end %>




