<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
      <h2>늘품자료</h2>
      <ol class="breadcrumb">
          <li>
              <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
            </li>
            <li>
                <a>files</a>
            </li>
            <li class="active">
                <strong>전체자료</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>  

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox-content text-left" style="margin-bottom: 20px; padding-bottom: 8px;">
                <h4>드랍박스 아이디 : appi1234dk@gmail.com</h4>
                <h4>드랍박스 비밀번호 : dkemf123</h4>
                <p> *** 해당 아이디와 비밀번호로 접속해야 <span class="text-navy">파일 업로드가 가능</span>합니다 *** </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="ibox-content text-center">
                <h1>교육팀</h1>
                <div class="m-b-sm">
                    <i class="fa fa-graduation-cap fa-5x"></i>
                </div>
                <p class="font-bold">늘품 음료의 질! 늘품의 선생님 교육팀</p>

                <div class="text-center">
                    <a class="btn btn-lg btn-primary" href="https://www.dropbox.com/sh/kskocqtg2k3q195/AACUx1HZTBUMI_IZIm62ZqKoa?dl=0" target="_blank">교육팀 Dropbox</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ibox-content text-center">
                <h1>구매팀</h1>
                <div class="m-b-sm">
                    <i class="fa fa-shopping-cart fa-5x"></i>
                </div>
               <p class="font-bold">조용하지만 강하다! 늘품의 핵심 구매팀</p>

                <div class="text-center">
                    <a class="btn btn-lg btn-primary" href="https://www.dropbox.com/sh/r73c1jl54y6kxqa/AACkbiuze_IFA8SySLqM3cnta?dl=0" target="_blank">구매팀 Dropbox</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ibox-content text-center">
                <h1>기획팀</h1>
                <div class="m-b-sm">
                    <i class="fa fa-street-view fa-5x"></i>
                </div>
                <p class="font-bold">커피에 대한 연구, 늘품의 내실을 다지는 기획팀</p>

                <div class="text-center">
                    <a class="btn btn-lg btn-primary" href="https://www.dropbox.com/sh/0gpk9mju2cepmtv/AABUF95E1OxrOCM5UDrw7FbPa?dl=0" target="_blank">기획팀 Dropbox</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="ibox-content text-center">
                <h1>마케팅팀</h1>
                <div class="m-b-sm">
                    <i class="fa fa-line-chart fa-5x"></i>
                </div>
                <p class="font-bold">고객분석, 채널분석. 늘품을 확장시키는 마케팅팀</p>

                <div class="text-center">
                    <a class="btn btn-lg btn-primary" href="https://www.dropbox.com/sh/vcmtnjvo14rj42a/AADPh6-a2YZlO_rODN9NvcvLa?dl=0" target="_blank">마케팅팀 Dropbox</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ibox-content text-center">
                <h1>인사팀</h1>
                <div class="m-b-sm">
                    <i class="fa fa-users fa-5x"></i>
                </div>
                <p class="font-bold">늘품의 엄마, 지기들의 복지를 책임지는 인사팀</p>

                <div class="text-center">
                    <a class="btn btn-lg btn-primary" href="https://www.dropbox.com/sh/o3xwzoel44vbrsh/AAD-EvbZ90Hxd8w7Y21IH07oa?dl=0" target="_blank">인사팀 Dropbox</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ibox-content text-center">
                <h1>회계팀</h1>
                <div class="m-b-sm">
                    <i class="fa fa-money fa-5x"></i>
                </div>
                <p class="font-bold">체계화된 현금 흐름 분석. 늘품의 실세 회계팀</p>

                <div class="text-center">
                    <a class="btn btn-lg btn-primary" href="https://www.dropbox.com/sh/b09n7ye9xyi5bun/AAC2zSzG3RpUYY8pJ3mGANLwa?dl=0" target="_blank">회계팀 Dropbox</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ibox-content text-center">
                <h1>늘품활동사진</h1>
                <div class="m-b-sm">
                    <i class="fa fa-camera fa-5x"></i>
                </div>
                <p class="font-bold">연도별로 모아보는 늘품의 활동사진. 남는 건 사진뿐!</p>

                <div class="text-center">
                    <a class="btn btn-lg btn-primary" href="https://www.dropbox.com/sh/1ld91b203znd7zt/AACPWL4XIoDy0ObBgHnfY4kHa?dl=0" target="_blank">연도별 활동사진 Dropbox</a>
                </div>
            </div>
        </div>
    </div>
</div>