    <div class="large-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <h3 class="logo-name">Neulpum</h1>

            </div>
            <h3 style="margin-top: 50px;">재료 등록</h3>
            <p>
                재료를 등록해주세요
            </p>
            <form class="m-t" role="form" action="<%= materials_create_path %>" method="POST">
                <label class="col-lg-2 control-label">재료이름 : </label>
                <div class="form-group col-lg-10">
                    <input type="text" class="form-control" placeholder="재료이름" name="material_name" required="">
                </div>
                <label class="col-lg-2 control-label">구매처 : </label>
                <div class="form-group col-lg-10">
                    <input type="text" class="form-control" placeholder="구매처" name="material_buyer"required="">
                </div>
                <label class="col-lg-2 control-label">구매처 주소 : </label>
                <div class="form-group col-lg-10">
                    <input type="text" class="form-control" placeholder="구매처 주소" name="material_url" required="">
                </div>
                <label class="col-lg-2 control-label">재료용량 : </label>   
                <div class="form-group col-lg-10">
                    <input type="number" class="form-control" placeholder="재료용량" name="material_volume" required="">
                </div>
                <label class="col-lg-2 control-label">구매갯수 : </label>
                <div class="form-group col-lg-10">
                    <input type="number" class="form-control" placeholder="구매갯수" name="material_unit" required="">
                </div>
                <label class="col-lg-2 control-label">구매시점 : </label>
                <div class="form-group col-lg-10">
                    <input type="number" class="form-control" placeholder="구매시점의 갯수" name="material_limit" required="">
                </div>
                <label class="col-lg-2 control-label">재료가격 : </label>
                <div class="form-group col-lg-10">
                    <input type="number" class="form-control" placeholder="재료가격" name="material_price" required="">
                </div>
                <label class="col-lg-2 control-label">배송일수 : </label>
                <div class="form-group col-lg-10">
                    <input type="number" class="form-control" placeholder="배송일수" name="material_shipping" required="">
                </div>
                <label class="col-lg-2 control-label">단위 : </label>
                <div class="form-group col-lg-10">
                    <input type="text" class="form-control" placeholder="ml, 개, g 등" name="material_scale" required="">
                </div>
                <label class="col-lg-2 control-label">재고체크 순서 : </label>
                <div class="form-group col-lg-10">
                    <input type="number" class="form-control" placeholder="기본값 : 999" name="material_order" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">등록</button>
            </form>
            <!-- <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2015</small> </p> -->
        </div>
    </div>